.calculator{
    border: 5px solid rgb(78, 75, 75);

    background-color:cadetblue;
    padding: 5px;
    text-align: center;
    padding-top: 15px;
    align-content: center;
}

.mybtn{
    color: aqua;
    width: 45px;
    height: 45px;
    margin: 5px;


}
.display{
    font-size: medium;
    width: 55%;
    height: 45px;
}
.mybtncontnr{
    margin-top: 3px;
    display: flex;
   -ms-flex-item-align: center;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    margin-left: 90px;
    float: center;

}